<h4>Por que eu deveria usar ContratadoMelhor?</h4>
<p>Para fazer seu negócio evoluir, você precisa de talento. A plataforma oferece uma gama de candidatos interativos, então, você pode gastar menos tempo buscando e mais tempo entrevistando e contratando.</p>
<h4>Quanto você cobra por isso?</h4>
<p>ContratadoMelhor oferece duas opções de preço para você escolher: Tradicionalmente, cobramos duas salários mensal do funcionário com uma garantia de reembolso de 100% para 90 dias.
Alternativamente, você pode optar por pagar 10% do salário mensal do funcionário por mês para os primeiros 24 meses de emprego.</p>
<p>Em ambos os casos, a nossa taxa exclui quaisquer candidatos que já estão num processo de entrevista ativo com sua empresa, conforme definido em nossos termos de serviço.</p>
<h4>Que tipo de candidatos estão em seu mercado?</h4>
<p>Nós trazemos ativamente programadores das melhores escolas do Brasil, que trabalharam nas melhores empresas de tecnologia ou que estão bem na carreira.
Nós nos concentramos principalmente em candidatos de São Paulo e Rio, ou candidatos dispostos a se mudar para essas cidades.</p>

<h4>Posso contactar os candidatos fora do mercado?</h4>
<p>Não.</p>
<p>Se você tiver dúvidas sobre o background de um desenvolvedor, história de trabalho, experiência, etc., envie um e-mail para nós que obteremos as informações para você.</p>
<h4>Ajuda! Meu pedido de entrevista foi recusado.</h4>
Relaxe, isso acontece. Embora tenhamos uma taxa muito elevada de aceitação na entrevista, nem todo candidato estará interessado em cada indústria vertical.
Se a sua oferta foi recusada pela remuneração oferecida, recomendamos que reveja a sua oferta para atender às expectativas do candidato.
Se a sua oferta foi recusada por razões de localização, você pode considerar oferecer um bônus de deslocalização para ajudar alguém a se mudar próximo de seu escritório.
<h4>De onde você consegue todos os seus candidatos?</h4>
<p>Além da cobertura de imprensa que recebemos, somos muito ativos em todas as principais comunidades de programação on-line - muitos programadores indicam seus amigos e colegas para nós, patrocinamos grandes conferências de desenvolvedores e temos um grande orçamento de marketing on-line para atrair talentos em nosso mercado.</p>
<h4>Outras perguntas?</h4>
<p>Contacte-nos para marcar uma reunião ou um telefonema com um de nossos gerentes de contas.</p>