
<div class="text-center">
<h1>Duvidas Frequentes</h1>
<br>
</div>
</div>
<div class="col-xs-3">
</div>
<div class="col-xs-6">


<h3>Por que eu deveria usar Contratado.me? - Final LACH TEST TO CONFIRM PROCESS</h3>
<hr>
<p>Para fazer seu negócio crescer, você precisa de talento. A nossa plataforma oferece uma gama de desenvolvedores pré-selecionados e testados. Dessa forma, você pode gastar menos tempo buscando, e mais tempo entrevistando e contratando.</p>
<br>
<br>
<br>
<br>
<h3>Quanto você cobra por isso? - LACH TESTING WITH LUCAS</h3>

<hr>

<p>Contratado.me oferece duas opções de preço para você escolher: Tradicionalmente, cobramos dois salários mensais do funcionário com uma garantia de reembolso de 100% por 90 dias.</p>
<p>Alternativamente, você pode optar por pagar 20% do salário mensal do funcionário por mês pelos primeiros 12 meses de emprego.</p>
<p>Em ambos os casos, a nossa taxa exclui qualquer candidato que já estava em um processo de entrevista ativo com a sua empresa, conforme definido em nossos termos de serviço.</p>
<br>
<br>
<br>
<br>
<h3>Qual tipo de candidatos estão no seu mercado?</h3>
<hr>
<p>Nós trazemos ativamente programadores que vem das melhores escolas do Brasil, que trabalharam nas melhores empresas de tecnologia, ou que são reconhecidos dentro da comunidade de programadores. Nós nos focamos principalmente em candidatos que estão em São Paulo e Rio, ou candidatos dispostos a se mudarem para essas cidades.</p>
<br>
<br>
<br>
<br>
<h3>Posso contactar os candidatos fora do mercado?</h3>
<hr>
<p>Não.</p>
<p>Se você tiver dúvidas sobre o background de um desenvolvedor, história de trabalho, experiência, etc., envie-nos um e-mail para  obtermos as informações para você.</p>
<br>
<br>
<br>
<br>
<h3>AAjude-me! Meu pedido de entrevista foi recusado.</h3>
<hr>
<p>Relaxe, isso acontece. Embora tenhamos uma taxa muito elevada de aceitação na entrevista, nem todo candidato estará interessado em todo tipo de indústria.</p>
<p>Se a sua oferta foi recusada pela remuneração oferecida, recomendamos que reveja a sua oferta para atender às expectativas do candidato. Se a sua oferta foi recusada por razões de localização, você pode considerar oferecer auxílio mudança como parte do seu pacote de remuneração.</p>
<br>
<br>
<br>
<br>
<h3>De onde você consegue todos os seus candidatos?</h3>
<hr>
<p>Somos muito ativos em todas as principais comunidades de programação on-line. Muitos programadores indicam seus amigos e colegas para nós, patrocinamos grandes conferências de desenvolvedores e temos um grande orçamento de marketing on-line para atrair talentos em nosso mercado.</p>
<br>
<br>
<br>
<br>
<h3>Outras perguntas?</h3>
<hr>
<p>Entre em contato para marcar uma reunião ou um ligação com um de nossos gerentes de contas.</p>
<br>
<br>
<br>

</div>
<div class="col-xs-3">
</div>
<br>
<br>
<br>
